name: Fetch and Scan Top 100 Repositories

on:
  workflow_dispatch:
    inputs:
      language:
        description: "Language to fetch repositories for"
        required: true
        default: "C++"

jobs:
  # -----------------------------------------------------
  # FETCH TOP 100 REPOSITORIES
  # -----------------------------------------------------
  fetch:
    runs-on: ubuntu-latest
    outputs:
      repo_list: ${{ steps.collect.outputs.repo_list }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests jq

      - name: Fetch Top 100 Repositories
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          LANGUAGE: ${{ github.event.inputs.language }}
        run: |
          python scripts/fetch_top_repos.py

      - id: collect
        run: |
          repos=$(cat output/top_repos.json | jq -c '.')
          echo "repo_list=$repos" >> $GITHUB_OUTPUT

  # -----------------------------------------------------
  # TRIGGER MAIN SBOM SCAN WORKFLOW
  # -----------------------------------------------------
  trigger:
     needs: fetch
     runs-on: ubuntu-latest
     strategy:
        fail-fast: false
        matrix:
          repo: ${{ fromJson(needs.fetch.outputs.repo_list) }}
     steps:
        - name: Debug token presence
          run: |
              if [ -z "${{ secrets.PERSONAL_TOKEN }}" ]; then
              echo "❌ PERSONAL_TOKEN is missing"
              exit 1
              else
              echo "✅ PERSONAL_TOKEN detected"
              fi

        - name: Trigger Conan+Trivy Workflow
          uses: benc-uk/workflow-dispatch@v1
          with:
            workflow: main.yml
            token: ${{ secrets.PERSONAL_TOKEN }}
            ref: main
            inputs: >-
              {
              "src_repository": "${{ matrix.repo }}",
              "src_branch": "main",
              "conan_repository": "Noddy03/Conan_Trivy_full_SBOM_scan",
              "conan_branch": "main",
              "src_type": "${{ github.event.inputs.language }}"
              }

